<a href="https://colab.research.google.com/github/guylozius/machine-learning/blob/main/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

#Charity Dataset

Source of data: https://www.kaggle.com/datasets/katyjqian/charity-navigator-scores-expenses-dataset

- Description: The dataset show the type charity and their expenses.

- Target: is asore to see how well these charity perform

- This a regression problem

- There are 23 features and 8408 row

- There maybe no correlation between expense and charity quality

In [ ]:
df_charity = pd.read_csv('/content/drive/MyDrive/coding dojo/stack_two/Project 2/CLEAN_charity_data.csv')
df_charity.head()

,ascore,category,description,ein,tot_exp,admin_exp_p,fund_eff,fund_exp_p,program_exp_p,fscore,...,motto,name,tot_rev,score,state,subcategory,size,program_exp,fund_exp,admin_exp
0,100.0,Environment,Working with Oregonians to enhance our quality...,93-0642086,917313.0,0.101,0.18,0.184,0.714,88.61,...,Great communities. Working lands. Iconic Places.,1000 Friends of Oregon,1022513.0,91.94,OR,Environmental Protection and Conservation,small,6.549615e+05,168785.592,92648.613
1,89.0,"Arts, Culture, Humanities",Serving the metropolitan Baltimore area and th...,31-1770828,5053059.0,0.231,0.05,0.032,0.735,82.85,...,88.1 FM -. Your NPR News Station,WYPR,5685761.0,85.59,MD,Public Broadcasting and Media,mid,3.713998e+06,161697.888,1167256.629
2,70.0,Religion,VSS Catholic Communications is dedicated to an...,91-1857425,1891500.0,0.114,0.17,0.197,0.687,86.74,...,Spirit Catholic Radio Network,VSS Catholic Communications,2140836.0,76.80,NE,Religious Media and Broadcasting,small,1.299460e+06,372625.500,215631.000
3,93.0,"Arts, Culture, Humanities",The mission of the Utah Symphony & Opera is to...,51-0145980,22506582.0,0.092,0.08,0.054,0.852,91.03,...,"Engaging, educating, and enriching lives",Utah Symphony & Opera,22203175.0,91.95,UT,Performing Arts,big,1.917561e+07,1215355.428,2070605.544
4,100.0,Human Services,"Funded solely by the footwear industry, Two Te...",22-2579809,5594243.0,0.126,0.12,0.122,0.750,86.23,...,Shoepeople Helping Shoepeople,Two Ten Footwear Foundation,6935506.0,90.26,MA,Social Services,mid,4.195682e+06,682497.646,704874.618

#Crops Dataset

Source of data: https://www.kaggle.com/datasets/siddharthss/crop-recommendation-dataset

- Description: Dataset show type of crops and factors they growth 
- Target is 'label' the type of crop
- There 8 features and 2200 rows 
- Classification problem
- I want to see what type of crop are grow in what type of condition.
The probelm muplity crop can be grow in same type condition making classification harder to do.

In [ ]:
df_crop = pd.read_csv('/content/drive/MyDrive/coding dojo/stack_two/Project 2/Crop_recommendation.csv')
df_crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice